<button class="secondary view-text" (click)="showText()">
  <svg width="20.2" height="12.2" viewBox="-5.05 -3.05 10.1 6.1" xmlns="http://www.w3.org/2000/svg">
    <clipPath id="eye-outline">
      <ellipse cx="0" cy="0" rx="5" ry="3" />
    </clipPath>
    <ellipse style="fill: #000000; stroke: none" cx="0" cy="0" rx="5" ry="3" />
    <ellipse clip-path="url(#eye-outline)" style="fill: #ffffff; stroke: none" cx="0" cy="0" rx="3" ry="3" />
    <ellipse style="fill: #000000; stroke: none" cx="0" cy="0" rx="1" ry="1" />
    <ellipse style="fill: none; stroke: #050000; stroke-width: 0.1; stroke-opacity: 1" cx="0" cy="0" rx="5" ry="3" />
  </svg>
</button>
