:host {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.letter {
  display: flex;
  flex-direction: column;
  position: relative;

  border: 0.1em solid white;
  margin: 0;
  padding: 0;

  &.hovering {
    border-color: #00f;
    outline: none;
    background-color: #eef;

    .bar {
      background-color: #bbf;
    }

    .input,
    .output,
    .percentage {
      color: #00f;
    }
  }

  .bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #bbb;
  }

  .input,
  .output,
  .percentage {
    text-align: center;

    z-index: 1;

    width: 4em;
    height: 1.5em;
    line-height: 1.5em;

    color: black;
    text-shadow: 0px 0px 2px white;
  }

  .input {
    font-weight: bold;
  }
}
