<div class="source">
  <h2>{{ 'PLAINTEXT' | transloco }}</h2>
  <div class="letters">
    <span *ngFor="let letter of this.source" [class.empty]="letter === undefined">
      {{ letter ?? '?' }}
    </span>
  </div>
</div>

<div class="substitution">
  <button *ngFor="let subs of this.substitution"
          [disabled]="this.index === this.source.length"
          (click)="add(subs)"
          class="letter">
    <span class="input">{{ subs[0] }} </span>
    <span class="output">{{ subs[1] }} </span>
  </button>
  <button (click)="removeLast()" [disabled]="this.index === 0" class="secondary">
    {{ 'REMOVE_LAST' | transloco }}
  </button>
</div>

<div class="destination">
  <h2>{{ 'CIPHERTEXT' | transloco }}</h2>
  <div class="letters">
    <span *ngFor="let letter of this.destination" [class.empty]="letter === undefined">
      {{ letter ?? '?' }}
    </span>
  </div>
</div>
