:host {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  margin: 0;
  padding: 0.1em;

  &.is-subs {
    cursor: pointer;

    &:hover, &:focus, &:focus-visible {
      background-color: black;
      outline: none;
    }
  }
}

div {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2em;
  height: 1.5em;
  line-height: 1.5em;
}

.input {
  color: black;
  background-color: white;
}

.output {
  color: white;
  background-color: black;
  box-sizing: border-box;

  &.empty {
    background-color: white;
    border: 0.2em solid black;
  }
}

:host:not(.is-subs) {
  .input {
    background-color: #BBB;
  }

  .output {
    background-color: #444;
  }
}
