@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: content-box;
}

// The Angular Material design menu doesn't ike content-box...
.mat-menu-content,
.mat-menu-content * {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

button {
  // Remove some browser-specific formatting
  background: none;
  outline: none;
  font: unset;
  &:focus {
    outline: none;
  }
  &::-moz-focus-inner {
    border: 0;
  }
}

mat-dialog-container {
  position: relative;

  &.mat-dialog-container {
    display: flex;
    max-height: 100vh;
  }

  > * {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    max-height: 100%;

    .title {
      text-align: center;
      font-size: x-large;
      padding: 0 0 1em;
    }

    .content {
      flex: 0 1 auto;
      overflow-x: visible;
      overflow-y: auto;
    }

    .bottom {
      flex: 0 0 auto;
      padding: 2em 0 0;
      text-align: center;

      button {
        margin: 0.5em 1em;
      }
    }
  }
}

button {
  &.primary,
  &.secondary,
  &.close {
    border: 0.2em solid transparent;

    cursor: pointer;

    &:focus,
    &:active {
      border-color: black;
    }
  }

  &.primary {
    color: white;
    background-color: black;

    &:hover:not(:disabled) {
      background-color: #222;
    }
  }

  &.secondary {
    color: black;
    background-color: white;
    border-color: black;

    &:focus,
    &:active {
      outline: black;
    }

    &:hover:not(:disabled) {
      background-color: #ddd;
    }
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &.close {
    position: absolute;
    top: 0.25em;
    right: 0.25em;

    width: 2em;
    height: 2em;
    box-sizing: border-box;

    border-radius: 50%;
    border-width: 0.1em;
    padding: 0;

    color: black;
    background-color: white;
    border-color: black;

    &:focus,
    &:active {
      outline: black;
    }

    &:hover:not(:disabled) {
      background-color: #ddd;
    }
  }
}

.mat-menu-content {
  .menu-item-active {
    display: inline-block;

    width: 1em;
    margin-right: 0.5em;
  }
}
